<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cambio de Color</title>
  <style>
    body {
      transition: background-color 0.5s ease;
    }
   h1 {
    font-size: 4em;
    color: #33D1FF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
  }

  </style>
</head>
<body>

<h1> Jose Angel De Leon Rodriguez </h1>

<script>
  function cambiarColor() {
    // Genera un color hexadecimal aleatorio
    var color = '#'+Math.floor(Math.random()*16777215).toString(16);

    // Aplica el color al fondo de la página
    document.body.style.backgroundColor = color;
    

    // Llama a la función de nuevo después de un intervalo de tiempo (en milisegundos)
    setTimeout(cambiarColor, 3000); // Cambia de color cada 3 segundos
  }

  // Inicia el proceso de cambio de color
  cambiarColor();
</script>

</body>
</html>